{% extends 'default.html' %}
{% load i18n %}
{% block base %}
<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Column 1</h2>
        <p>Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS.
        Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS.Django skeleton by Tirsvad CMS.
        Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Column 1</h2>
        <p>Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS.
        Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS.Django skeleton by Tirsvad CMS.
        Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Column 1</h2>
        <p>Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS.
        Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS.Django skeleton by Tirsvad CMS.
        Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS. Django skeleton by Tirsvad CMS.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
    </div>
</div>

{% endblock %}